.buttons {
  width: 600px;
  padding: 10px;
}

.buttons .stripes {
  padding: 10px;
}

.buttons textarea {
  height: 60px;
  width: 200px;
}

.buttons .stripes:nth-child(even) {
  background-color: #eeeeee;
  
}

pre {
  height: 400px;
  width: 600px;
}

body {
  padding: 20px;
}

.paypal div:first-child {
  margin-bottom: 10px;
}

.icon-button button {
  padding: 4px;
  min-width: 30px;
}
.icon-button img {
  height: 20px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.vertical-top {
  vertical-align: top;
}