<!DOCTYPE html>
<html ng-app="wizardApp">
	<head>
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />

		<title>Twitch QuickEMOTE - Setup Wizard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.2/lodash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		
	</head>
	<body ng-controller="mainController">
		<h1>
			twitch Quick Emote
		</h1>

		<!--
		<div class="row form-group">
			<div class="col-xs-4">
				<button class="btn btn-success" ng-click="createNew()">
					Create New Button Set
				</button>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-warning" ng-click="importing=true">
					Import Button Set
				</button>
			</div>
		</div>

		<div class="row" ng-show="importing">
			<div class="col-xs-4">
				<textarea ng-model="importText" class="form-control">
				</textarea>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-info" ng-click="importButtons()">
					Import
				</button>
			</div>
		</div>
		!-->
		<h4 ng-show="loading">Loading...</h4>
		<div class="row" ng-show="!loading">
			<div class="col-xs-12 col-md-6">
				<h4 class="bold">
					Configure Emote Buttons
				</h4>
				<button class="btn btn-primary" ng-click="addButton()">
					+ Add Button
				</button>
				<div class="buttons">
					<div class="row">
						<div class="col-xs-2">
							<strong>Icon</strong>
						</div>
						<div class="col-xs-6">
							<strong>Emotes Sent When Double-Clicked</strong>
						</div>
						<div class="col-xs-4">
							<strong>Actions</strong>
						</div>
					</div>
					<div ng-repeat="button in buttons track by $index" class="stripes">
						<div class="row">
							<div class="col-xs-2 icon-button">
								<button class="btn" ng-click="changeIcon(button)" uib-tooltip="Click to change icon" tooltip-placement="top-left">
									<img ng-src="{{button.icon}}"  />
								</button>
							</div>
							<div class="col-xs-6">
								<textarea class="form-control" ng-model="button.text" placeholder="Enter emotes here">
								</textarea>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-sm btn-primary" ng-click="getIconText(button)">
									Find Emote
								</button>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-sm btn-danger" ng-click="removeButton(button)">delete</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row form-group"></div>
				<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-primary" ng-click="download()" ng-disabled="generating">
							Generate Script
						</button>
					</div>
				</div>
			</div>


			<div class="col-xs-12 col-md-4">
				<h4>Purpose</h4>
				<div class="well">
					Generates Tampermonkey/Greasemonkey scripts that add buttons to your Twitch chat which make sending emote-heavy messages very simple and fast.
				</div>

				<h4>Instructions</h4>
				<strong>If you have the script already loaded your buttons should appear automatically</strong>
				<div class="instructions">
					<h5>Creating Buttons</h5>
					<ul>
						<li>Create a button with <strong>+ Add Button</strong></li>
						<li>Set the Icon for the button as it will appear below your chat box (choose emotes from the window that pops up)</li>
						<li>Enter the emotes text or search with <strong>Find Emote</strong> and click emotes to add them to the text box</li>
						<li>To set channel-specific icons, enter the channel name and click Get Emotes in the emotes search pop-up</li>
					</ul>

					<h5>Installing the Script</h5>
					<ul>
						<li>Once all your buttons are created as desired, click Generate Script</li>
						<li>Copy the script content that appears in the new window</li>
						<li>Open Tampermonkey / Greasemonkey and either edit the old script if you've already installed it, or add a new script</li>
						<li>Paste / overwrite the script and save (CTRL+S)</li>
						<li>Navigate to the twitch channel of your choice to see buttons appear below chat</li>
					</ul>
				</div>
				<div class="paypal">
					<div>
						<strong>Consider donating if you found this tool useful!</strong>
					</div>
					
					<div class="inline-block vertical-top" >
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="US222SQUDJEZ4">
							<input  style="vertical-align: middle" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							 <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
					<div class="inline-block vertical-top" >
						<a class="coinbase-button" data-code="abb83f613421674963803caafdd1bad7" data-button-style="donation_small" href="https://www.coinbase.com/checkouts/abb83f613421674963803caafdd1bad7">Donate Bitcoins</a><script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
					</div>
				</div>
				
			</div>

			
		</div>
		<div class="col-xs-12 col-md-6">
			

		</div>


		<script type="text/ng-template" id="/emoteSearch">
			<div class="modal-header">
				<h3>Search for emotes <button class="btn btn-sm" ng-click="$close()">x</button></h3>
			</div>
			<div class="modal-body container-fluid">
				<uib-alert type="error" ng-show="error">
					{{error}} <button class="btn btn-sm btn-danger" ng-click="error = null">x</button>
				</uib-alert>
				<div class="row">
					<div class="col-xs-4">
						<input class="form-control" type="text" ng-model="channelText" placeholder="Channel (optional)" ng-keyup="$event.keyCode == 13 && search()" />
					</div>
					<div class="col-xs-8">
						<button class="btn btn-primary" ng-disabled="fetchingEmotes" ng-click="search()">
							Get Emotes
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h4>Twitch Emotes</h4>
					</div>
					<
					<div class="col-xs-12">
						<button class="btn" ng-repeat="emote in twitchOptions |orderBy:'image_id'" ng-click="setEmote(emote)" uib-tooltip="{{emote.code}}">
							<img ng-src="{{getImgSrc(emote, 'twitch')}}" />
						</button>
						<div ng-show="!fetchingEmotes && twitchOptions.length ==0">No results found</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h4>BetterTTV Emotes</h4>
					</div>
					<div class="col-xs-12">
						<button class="btn" ng-repeat="emote in bttvOptions | orderBy:'id'" ng-click="setEmote(emote)" uib-tooltip="{{emote.code}}">
							<img ng-src="{{getImgSrc(emote, 'bttv')}}" />
						</button>
						<div ng-show="!fetchingEmotes && bttvOptions.length ==0">No results found</div>
					</div>
				</div>

			</div>
			<div class="modal-footer"></div>
		</script>

<script type="text/ng-template" id="/scriptfile.js">
// ==UserScript==
// @name         Twitch Quick Emote Buttons
// @namespace    https://g133m.github.io/twitch-quickemote
// @version      0.1.1
// @require      https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js
// @require      https://g133m.github.io/twitch-quickemote/wizard/js/main.js
// @description  Add buttons to quickly send emote-heavy messages to chat
// @author       g133m
// @include      https://www.twitch.tv/*
// @include      https://g133m.github.io/twitch-quickemote/wizard/
// @grant        unsafeWindow
// @run-at       document-end
// ==/UserScript==
(function() {
	'use strict';
var buttons = {script};
unsafeWindow.__g133mbuttons = buttons;
initializeEmoteButtons(
	buttons
);
})();
</script>
	</body>
</html>